div,
h2 {
  text-align: center;
}

a {
  padding: 10px;
  border: 1px solid rgb(150, 150, 150);
  margin-bottom: 20px 0;
  text-decoration: none;
  color: black;
  background: #eee;
}

a:hover {
  background: rgb(210, 210, 210);
}
